# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environments
# ==========================
venv/
.venv/
env/
ENV/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# Artifacts generated during training
# ==========================
Artifacts/
prediction_output/

# ==========================
# Python build
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Testing
# ==========================
.pytest_cache/
.coverage
htmlcov/

# ==========================
# OS files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# MLflow
# ==========================
mlruns/

# ==========================
# Temporary files
# ==========================
*.tmp
*.temp